<div class="planning-wrapper">
    <div class="planning-loading" ng-if="vm.flattenedResources.length == 0">
        <i class="fa fa-spin fa-spinner"></i>
    </div>
    <table class="planning-table" resize-detect watched-width="planningWidth">
        <thead class="planning-table-header">
            <tr>
                <th class="planning-resources">&nbsp;</th>
                <th class="planning-month" ng-repeat="month in vm.dates.months track by month.month.unix()" ng-attr-colspan="{{ month.nbDaysDisplayed }}">{{ ::month.month.format('MMMM YYYY') }}</th>
            </tr>
            <tr>
                <th class="planning-resources">&nbsp;</th>
                <th ng-repeat="day in vm.dates.days track by day.unix()" ng-class="{'planning-today-cell': vm.isToday(day), 'planning-day-cell-end-of-week': vm.isEndOfWeek(day)}">{{ ::day.format('DD') }}</th>
            </tr>
            <tr ng-if="showDayOfWeek">
                <th class="planning-resources">&nbsp;</th>
                <th ng-repeat="day in vm.dates.days track by day.unix()" ng-class="{'planning-today-cell': vm.isToday(day), 'planning-day-cell-end-of-week': vm.isEndOfWeek(day)}">{{ ::day.format('DD') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="resource in vm.flattenedResources track by (resource.parentGroup + '-' + resource.id)" ng-class="{'planning-group-row': resource.group}" ng-if="resource.show">
                <th class="planning-resources" ng-class="{'planning-group-toggle': resource.group}" ng-click="vm.toggleFolding(resource, !resource.open)">
                    <div class="planning-resource-name" ng-class="{'planning-resource-person': !resource.group}" ng-style="{'padding-left': ((resource.depth + 1) * resource.group * 10) + 'px'}">
                        <i class="fa" ng-if="resource.group" ng-class="{'fa-caret-down': resource.open, 'fa-caret-right': !resource.open}"></i>
                        {{ ::resource.name }}
                    </div>
                </th>
                <td class="planning-day-cell" ng-class="{'planning-day-cell-end-of-week': vm.isEndOfWeek(day), 'planning-today-cell': vm.isToday(day)}" ng-repeat="day in vm.dates.days track by day.unix()" ng-mouseover="vm.onDayHover(day, resource)" ng-click="vm.onDayClick(day, resource)">
                    <div class="planning-day-events">
                        <div class="planning-day-event" ng-repeat="event in vm.events[resource.id]" ng-if="day.isSameOrAfter(event.startsAt, 'day') && day.isSameOrBefore(event.endsAt, 'day')" ng-style="{
                          background: vm.isMorningOnly(day, event) ? 'linear-gradient(to right bottom, ' + event.color + ' 50%, rgba(255, 255, 255, 0) 50%)' : (vm.isAfternoonOnly(day, event) ? 'linear-gradient(to right bottom, rgba(255, 255, 255, 0) 50%, ' + event.color + ' 50%)' : event.color) }" ng-click="vm.onEventClick($event, event, day, resource)">
                            <i class="fa fa-hourglass-half" ng-if="event.pending"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
