<div class="planning-wrapper">
    <table class="planning-table" resize-detect watched-width="planningWidth">
        <thead class="planning-table-header">
            <tr>
                <th class="planning-resources"></th>
                <th class="planning-month" ng-repeat="month in dates.months track by $index" ng-attr-colspan="{{ month.nbDaysDisplayed }}">
                    <span ng-bind="month.month.format('MMMM YYYY')"></span>
                </th>
            </tr>
            <tr>
                <th class="planning-resources"></th>
                <th ng-repeat="day in dates.days track by $index" ng-bind="day.format('DD')" ng-class="{'planning-today-cell': isToday(day), 'planning-day-cell-end-of-week': isEndOfWeek(day)}"></th>
            </tr>
            <tr ng-if="showDayOfWeek">
                <th class="planning-resources"></th>
                <th ng-repeat="day in dates.days track by $index" ng-bind="day.format('dd')" ng-class="{'planning-today-cell': isToday(day), 'planning-day-cell-end-of-week': isEndOfWeek(day)}"></th>
            </tr>
        </thead>
        <tbody>
            <tr angular-planning-resource-row ng-repeat="resource in resources" resource="resource" events="events[resource.id]" dates="dates" ng-class="{'planning-group-row': resource.group}" ng-show="resource.show"></tr>
        </tbody>
    </table>
</div>
