$planning-row-height: 20px;
$planning-cell-width: 20px;
$planning-left-column-width: 150px;
$planning-border-color: lightgrey;

.planning-wrapper {
    position: relative;
}

.planning-scroller {
    margin-left:$planning-left-column-width + 20;
    overflow-x: scroll;
    overflow-y: visible;
}

.planning-table {
    margin: 0;

    tr, td, th {
        height: $planning-row-height;
        border: 1px solid $planning-border-color;
        background-color: white;
    }

    thead {
        tr {
            th {
                min-width: $planning-cell-width;
                padding: 0;
                font-size: 10px;
                text-align:center;
                vertical-align: middle;

                &:first-child {
                }
            }
        }
    }

    tr.planning-group-row {
        td {
            background: repeating-linear-gradient(
                -45deg,
                white,
                white 5px,
                lightgrey 5px,
                lightgrey 7px
            );
        }
    }

    td {
        &.planning-day-cell {
            padding: 0 0 0 0;

            &:hover {
                background-color: grey;
            }
        }

        &.planning-day-cell-end-of-week {
            border-right: 4px solid grey;
        }
    }

    .planning-sticky-left {
        left: 0;
        position: absolute;
        top: auto;
        width: $planning-left-column-width;
        font-size: 10px;
        vertical-align: middle;
        padding: 0 0 0 5px;
    }

    .planning-month {
        text-align: left;
        span {
            position: relative;
            display: inline-block;
            padding-left: 5px;
        }
    }

    .planning-resource-name {
        position: relative;
        left: 0px;
        display: inline-block;
    }

    .planning-group-toggle {
        cursor: pointer;
    }

    .planning-day-event {
        display: block;
        overflow: auto;
        width: 100%;
        height: 100%;

        i {
            font-size: 0.5em;
            position: relative;
            left: 2px;
            top: 2px;
        }
    }
}