<div class="row marketing">
    <div class="row">
        <div class="col-sm-3">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="addDays(-7)">7 days before</button>
                <button type="button" class="btn btn-default" ng-click="addDays(7)">7 days after</button>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="MM/DD/YYYY" ng-model="goToDateString">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="goToDate()">Go to</button>
                </span>
            </div>
        </div>
    </div>
    <angular-planning current-date="currentDate" get-resources="getResources(minDate, maxDate)" on-day-hover="onDayHover(day, resource)" on-day-click="onDayClick(day, resource)" on-event-click="onEventClick(event, day, resource)" cell-width="20" planning-resources-column-ratio="25"></angular-planning>
</div>
